@charset "UTF-8";
/* CSS Document */

#mapid {
  height: 100%;
}

body {
  background-color:white;
  overflow:hidden;
  height:100vh;
}

nav, main {
  height:100vh;
}

#footer {
  position:absolute;
  bottom: 0;
  width:100%;
}